*.la
*.lo
*.m4
autom4te.cache
build-aux
config.log
libmodbus.pc
libtool
*/.deps
*/.libs
stamp-h1
tests/bandwidth-client
tests/bandwidth-server-many-up
tests/bandwidth-server-one
tests/random-test-client
tests/random-test-server
tests/stamp-h2
tests/unit-test-client
tests/unit-test-server
tests/version
