**/prog
**/prog_*
2019/adamovsky/iocccsize_2018
2019/burton/.#Makefile
2019/burton/correct
2019/burton/prog.clean
2020/burton/check
2020/burton/check_be
2020/carlini/compile_commands.json
2020/endoh1/compile_commands.json
2020/endoh3/clock
2020/endoh3/clock.c
2020/endoh3/run_clock
2020/ferguson1/play
2020/ferguson1/prog.alt
2020/ferguson1/snake
2020/ferguson1/snake-colours
2020/ferguson1/snake.alt
2020/ferguson1/termcaps
2020/ferguson2/recode
